extends ./layout.jade

block body
  .header.flex-box Match #{matchId}
  .content.horizontal-center
    each msg in messages
      .chat-row.flex-box
        span.time #{msg.Clock}
        img.icon(src=msg.iconURL)
        span.hero(class=msg.team) #{msg.playerDisplayName}
        span : #{msg.Message}
